// colours

/*
Colours

primary    : #
secondary  : #
tertiary   : #

light      : #faf9f9

grey dark  : #333
grey       : #777
grey light : #999
 */


// fonts

$default-font-size: 1.6rem;


// Box Shadow

// $box-shadow: 0 1.5rem 4rem rgba($color-black, .15);